body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scatterplot-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: auto;
  background-color: #fafafa;
}

#svg-container {
  position: relative;
  width: 100%;
}

svg {
  display: block;
}
