body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9a9a9;
}

#scatterplot-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: auto;
  background-color: #fafafa;
}

#svg-container {
  position: relative;
  width: 100%;
  box-shadow: 5px 5px 30px;
}

svg {
  display: block;
}

#tooltip {
  pointer-events: none;
  background-color: #b0c4de;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

@media (max-width: 700px) {
  #tooltip {
    font-size: 2vw;
    padding: 8px;
  }
}
